/.env
/logs/
/src/logs/
*.db
**/__pycache__/
*.py[cod]
/.pytest_cache/
/.ruff_cache/
/src/app/.env
/docker/config/nginx/nginx.conf
.idea
.DS_Store
/spa/node_modules
/spa/.env.production
/example/
/spa/build/
/spa/.test-build/
/src/app/worker/old_files/
/src/app/worker/.env
/src/app/logs/*.log
/src/app/logs/*.json
/src/app/proxies.txt
/src/app/tests/logs/
/spa/.env
.data
/spa/dist/
/src/app/uploads/*
/src/app/scheduler.db
/src/.env
*.xls
*.xlsx
*.scheduler-task
*.scheduler-result
/calculations/
/secrets/default_users.json

examle_doc
tools/.sphinx-deps/
/tools/
